name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Grab the code from GitHub
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Log into Docker Hub securely
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build and push the new image to Docker Hub
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/my-production-app:latest

      # 4. SSH into EC2 and do the Docker Dance!
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/my-production-app:latest
            sudo docker stop live-devops-app || true
            sudo docker rm live-devops-app || true
            sudo docker run -d -p 80:3000 --name live-devops-app ${{ secrets.DOCKER_USERNAME }}/my-production-app:latest
